.container {
  padding: 0 2rem;
}


.mynot {
  background: #303139;
  border: 1px solid #47494F;
  box-shadow: 0px 4px 4px rgba(25, 27, 35, 0.16);
  border-radius: 8px;
}

.description {
  color: #fff;
}